:global(.edm-hm) .options {
  background-color: #fff;
  border-radius: 0.25rem;
  animation: appear 0.25s ease;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  border: 0;
  width: 20rem;
  max-height: 25rem;
  min-height: 25rem;
  overflow-y: auto;
  overflow-x: hidden;

  &__content {
    padding: 0.75rem 0.5rem;
  }

  &__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: appear 0.25s ease;
  }

  &__search-result {
    animation: appearRight 0.25s ease;
  }

  @keyframes appear {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes appearRight {
    0% {
      transform: translateX(1000px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
